/* ============== Partner Area CSS ============= */
.partner-area{
    background-color: $offwhite;
    .partners {
        .slick-slide{
            margin: 0 30px;
        }
        img {
            width: 150px;
          }
      }
}




