/* ======= Primary Section Title ======= */

.section-title-primary{
    max-width: 700px;
    margin: 0px auto 70px;
    text-align: center;
    h4 {
        font-size: 18px;
        font-weight: 400;
        text-transform: lowercase;
      }
    h2{
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0 20px;
        position: relative;
        &:before {
            content: "";
            background-color: $primary-color;
            width: 60px;
            height: 4px;
            left: 50%;
            bottom: -10px;
            position: absolute;
            transform: translateX(-50%);
          }
        &:after {
            content: "";
            background-color: $black;
            width: 140px;
            height: 1.5px;
            left: 50%;
            bottom: -9px;
            position: absolute;
            transform: translateX(-50%);
            z-index: -1;
          }
      }
    p {
        font-size: 16px;
        font-weight: 300;
      }
  }

/* ======= Secondary Section Title ======= */

.section-title-secondary {
    max-width: 700px;
    margin: 0 auto 50px;
    h5 {
        font-size: 18px;
        text-align: center;
        font-weight: 300;
      }
    h2 {
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        position: relative;
        padding-bottom: 20px;
        margin-top: 10px;
        &:before {
            position: absolute;
            content: "";
            width: 60px;
            height: 4px;
            background-color: $primary-color;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
      }
    p {
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
      }
  }
